@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Josefin+Sans&family=Silkscreen&display=swap');
*{
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  font-size: 20px;
  font-family: 'Silkscreen', cursive;
  color: white;
  background-color: #ffdddd;
  border-style: solid;
  border-width: 15px;
  border-radius: 35px;
}

.rightnav {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #ffe5dd;
  margin-left: 15px;
  border-radius: 35px;
}

.date {
  display: flex;
  
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  justify-content: flex-start;
  margin: 0 0 15px 15px;

}
