@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Josefin+Sans&family=Silkscreen&display=swap');
*{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #ffdddd;
  border-style: solid;
  border-width: 15px;
  border-radius: 30px;
}

.date {
  display: flex;
  font-size: 30px;
  justify-content: flex-start;
  margin: 0 0 15px 50px;
}

.allContent {
  display: flex;
}

.leftnav {
  width: 250px;
  height: 540px;
  background-color: #Efeff1;
  margin-left: 15px;
  padding-top: 30px;
  border-radius: 20px;
}
.auto {
  overflow: auto;
}

.leftnav a {
  text-decoration: none;
  color:rgb(11, 23, 35);
  font-size: 20px;
}

.todoLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin-left: 30px;
}

.todayContent {
  margin-left: 50px;
}

.todayMainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 21px;
  width: 700px;
  height: 130px;
  padding-left: 20px;
  background-color: #ffe5dd;
  border-radius: 20px;
}

.quotes span:first-child{
  margin-right: 20px;

}

.mainAndtimer {
  display: flex;
  justify-content: space-between;
  width: 1185px;
  margin-bottom: 30px;

}

.homeTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 170px;
  padding-top: 20px;
  border-radius: 15px;
  background-color:antiquewhite;
}

.displayMessage {
  margin-bottom: 15px;
  color: green;
  font-size: 20px;
  text-align: center;
}

.todoContent {
  display: flex;
  margin-right: 15px;
  flex-direction: column;
}

.todayContent h1 {
  margin-bottom: 15px;
}

.textList {
  margin-top: 30px;
  
}
.textList2 {
  margin-left: 50px;
}

.textList p {
  font-size: 20px;
}

.inputButton {
  margin-top: 10px;
  margin-bottom: 30px;
}

.inputButton input {
  width: 1080px;
  height: 45px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
}

.inputButton button {
  width: 60px;
  height: 44px;
  border: 0;
  border-radius: 10px;
  outline: 0;
  margin-left: 10px;
  cursor: pointer;
}

.inputButton button:hover {
  background-color:#ffe5dd;
}

.todoList {
  display: flex;
  align-items: center;
  width: 1100px;
  height: 40px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
}

/* Timer Component */
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 50px; */
}
.minAndsec {
  font-size: 50px;
  margin-bottom: 15px;
}

.timerBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 330px;
}

.firstTimeBtn { 
  margin-bottom: 20px;
}

.timerBtns button {
  font-size: 15px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.timerBtns button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}



/* TodoListItem Component */

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  
}

svg {
  width: 23px;
  height: 23px;
}

.removebox{
  display: flex;
  cursor: pointer;
}

.todolistitemStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1062px;
  height: 45px;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 20px;
  background-color: bisque;
  border-radius: 10px;
}

.checkboxAndcontent {
  display: flex;
  align-items: center;
}

.line {
  color: gray;
  text-decoration: line-through;
}

.noline {
  color: black;
}

/* Rest Component */

.restTitle {
  margin-left: 35px;
}
.player-wrapper {
  margin-left: 85px;
}


